.Contact_Hero {
  width: 100%;
  height: 90vh;
  background-image: url(../../Images/Contact/ContactBg.png);
  background-size: cover;
}
.Contact_Hero img{
  background-color: pink;
}
.LetsTalk{
    width: 100%;
  background-image: url(../../Images/Contact/SendMsgBg.png);
  background-size: cover;
}
.FormContainer form input{
    background: #1a99d42a;
    height: 3rem;
    width: 15rem;
    border-radius: 5px;
    outline: none;
}

.FormContainer form .textArea{
    height: 6rem;

}

form button{
    width: fit-content;
    border-radius: 5px;
   padding: .5rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-top: 4rem;
    background-color: #002c78;
}

