.Partner_Hero{
    
    background-image: url(../../Images/Partner/PartnerHero.png);
    background-size: cover;
   
    background-repeat: no-repeat;
}

@media (max-width:700px) {
    .Partner_Hero{
    
      background-position:70% 0%;
    }
}