.slider-container {
  position: relative;
  max-width: 100vw;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  position: absolute;
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.HoverBtn {
  margin: auto;
  position: relative;
  width: 15rem;
  
}
.CircleHover {
position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid;
}
.HoverBtn:hover {
  .CircleHover {
    width: 15rem;
  }
}

/* --------------Home Style---------------- */
.WWA_Container {
  width: 85%;
  margin: auto;
  /* padding: 6.25rem 0; */
  display: flex;
  align-items: center;
  position: relative;
}
.WWA_Container img {
  width: 60%;
  height: 60%;
}
.WWA_Text {
  background-color: aliceblue;
  width: 50%;
  right: 10%;
  position: absolute;
}

.CWC{
  background-image: url(../../Images/Home/cwc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  background: #3c31dd;
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}
@media (max-width:800px) {
  .WWA_Container {
   
 
    padding: 0 0 15rem 0;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .WWA_Container img {
    width: 100%;
    height: 100%;
  }
  .WWA_Text {
    width: 80%;
   top: 40%;
    position: absolute;
  }
}