.AboutUs_Hero{
    width: 100%;
    height: 90vh;
    background-image: url(../../Images/About.png);
    background-size: cover;
}

@media (max-width:700px) {
    .AboutUs_Hero{
      
        background-position: center;
    }
    
}