*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body{
  background-color: #ddf1fa46;
}
 li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
.Back{
  width: 100%;
  height: 100vh;
  background-color: #F23100;
}
.Back1{
  width: 100%;
  height: 100vh;
  background-color: #5DE931;
}
.Back2{
  width: 100%;
  height: 100vh;
  background-color: #EAEA31;
}
.Back3{
  width: 100%;
  height: 100vh;
  background-color: #1A99D4;
}